
/* variables
_________________________________________________________*/
:root {
  --current-color: #333333;
  --extension-is-on: green;
  --extension-is-off: #777777;
}

/* global
_________________________________________________________*/
body {
  color: var(--current-color);
  font-family: helvetica, sans-serif;
  font-weight: 200;
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  margin: 0;
}

h1 {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 1.5em;
  font-weight: normal;
  color: var(--curent-color);
  transition: color .5s;
}

h1 > img {
  height: 1.5em;
}

h1 > span {
  padding-left: 0.5em;
}

summary {
  outline: 0;
  margin-bottom: 0.5em;
}

/* components
_________________________________________________________*/
.colorLinks {
  padding: 1em;
  transition: border 250ms ease-in-out, box-shadow 250ms ease-in-out, border-radius 250ms ease-in-out, opacity 250ms ease-in-out;
  width: 20em;
}

.colorLinks--grid {
  background: white;
  padding: 1em 0;
  position: relative;
}

.colorLinks--button {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  color: white;
  border: none;
  box-shadow: none;
  cursor: pointer;
  opacity: 0.8;
  transition: border 200ms ease-in-out, box-shadow 200ms ease-in-out, border-radius 200ms ease-in-out, opacity 200ms ease-in-out;
}

.colorLinks--button.active,
.colorLinks--button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000;
  border: 2px solid #fff;
  opacity: 1;
}

.colorLinks--grid {
  display: flex;
}

.colorLinks--grid > * {
  flex: 1 1 50%;
  text-align: center;
}

/* custom input
_________________________________________________________*/
.customForm {
  padding: 0.5em 1em 0.5em 0;
}

.customForm--label {
  font-size: 0.75em;
  font-weight: bold;
}

.customForm--clickables {
  padding: 0.25em 0;
}

.customForm--button {
  border: 1px solid darkgray;
  border-radius: 3px;
}
/* whitelist
_________________________________________________________*/

.whitelist--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.toggle {
  display: none;
}
.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .whitelist--toggle-label {
  box-sizing: border-box;
}

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .whitelist--toggle-label::selection {
  background: none;
}

.toggle + .whitelist--toggle-label {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.toggle + .whitelist--toggle-label:after, .toggle + .whitelist--toggle-label:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}


.toggle + .whitelist--toggle-label:after {
  left: 0;
}
.toggle + .whitelist--toggle-label:before {
  display: none;
}
.toggle:checked + .whitelist--toggle-label:after {
  left: 50%;
}


.whitelist--toggle + .whitelist--toggle-label {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid var(--extension-is-off);
  border-radius: 2em;
}
.whitelist--toggle + .whitelist--toggle-label:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: var(--extension-is-off);
  content: "";
  border-radius: 1em;
}
.whitelist--toggle:checked + .whitelist--toggle-label {
  border: 4px solid var(--extension-is-on);
}
.whitelist--toggle:checked + .whitelist--toggle-label:after {
  left: 50%;
  background: var(--extension-is-on);
}

.whitelist-isActive{
  animation: slide 200ms ease-in forwards;
}

.whitelist--text {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;

  font-size: 0.75em;

  margin-bottom: 8px;
  background: #F2F4F7;
  border-radius: 3px;
  padding: 3px;
  }


@keyframes slide {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 58px;
  }
}
